<div class="container-fluid mb-0">
  <div class="row text-center bg-dark">
    <div class="col-md-4 text-white py-4">
      <h5 class="d-inline-block pe-2 fa-3x">
        <i class="fa-brands fa-google"></i>
      </h5>
      <h3 class="cName">AVGfx</h3>
      <h5 class="address1">22, Yogeshwar park, Opp Aquarium,</h5>
      <h5 class="address1">Near Star Hyper, Adajan, Surat</h5>
    </div>
    <div class="col-md-4 text-white py-3">
      <h3>Connect With Us</h3>
      <h5 class="d-inline-block pe-2 fa-3x">
        <i class="fa-brands fa-square-whatsapp"></i>
      </h5>
      <h5 class="d-inline-block pe-2 fa-3x">
        <i class="fa-brands fa-square-facebook"></i>
      </h5>
      <h5 class="d-inline-block pe-2 fa-3x">
        <i class="fa-brands fa-linkedin"></i>
      </h5>
      <h5 class="d-inline-block pe-2 fa-3x">
        <i class="fa-solid fa-envelope"></i>
      </h5>
    </div>
    <div class="col-md-4 m-auto">
      <img
        class="border-2 rounded-3"
        src="https://via.placeholder.com/350x150"
        alt=""
      />
    </div>
  </div>
</div>
